<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body style="background-color: #FFFFF3">
    <div
       style="top: 30%; left: 30%; position: absolute; background-color: #E0E3DA; width: 30%; height: 30%; padding: 30px">
       <img src="https://files.slack.com/files-pri/TPLFWCBJL-FQBR0ELKT/login.png" style="width:150px; height:150px;">
       <h1>로그인</h1>
       <form action="/login" method="post">
          ID　<input type="text" name="user_id">
          <input type="submit" value="로그인" style="border-color:#E0E3DA; background-color: #FFFFF2;"><br>
           PW <input type="password" name="user_pwd"><br>
       </form>
    </div>
 </body>
</html>