<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
</head>
<body style="background-color: #FFFFF3">
    <div
       style="top: 30%; left: 30%; position: absolute; background-color: #E0E3DA; width: 30%; height: 30%; padding: 30px">
       <h1>회원가입</h1>
       <form action="/login" method="post">
          ID(학번) 　<input type="text" name="user_id"><br> PW　  　　<input
             type="password" name="user_pwd"><br> 이름　　　<input
             type="text" name="user_name"><br> 생년월일　<input type="text"
             name="user_birth"><br>　<br> <input type="submit" value="회원가입"  style="border-color:#E0E3DA; background-color: #FFFFF2;">
       </form>
    </div>
 </body>
</html>