<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
  <h1>학생정보등록</h1><br>
  
  
  <form action="#" method="get">
     <table>
        <tr>
        <td>학생이름 <input type="text" id="name"></td>
        </tr>
        <!-- <tr>
        <td>주소 <input type="text" id="adr"></td>
        </tr> -->
        <tr>
        <td>성적 <input type="text" id="result"></td>
        </tr>
        <!-- <tr>
        <td>생년월일 <input type="text" id="birth"></td>
        </tr> -->

        <!-- <tr>
        <td>포인트   <input type="text" id="point"></td>
        </tr> -->
        <tr>
        <td><input type="submit" value="등록하기"></td>
     </table>
  </form>
  
</body>
</html>