<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body style="background-color: #F7AA97">
  <div
          style="top: 20%; left: 20%; position: absolute; background-color: #FFFFF3; width: 50%; height: 50%; padding: 30px">
      <h1>봉사등록</h1>
      <br>
      <form action="/volun" method="post">
          학번 　　<input type="text" name="studentid"> <br>　<br>
          봉사번호 <input type="text" name="vnum"> <br>　<br>
          봉사날짜 <input type="text" name="vdate"><br>　<br>
          봉사기관 <input type="text" name="vorg"> <br>　<br>
          봉사시간 <input type="text" name="vtime"> <br>　<br>
          <input type="submit" value="등록하기" style="border-color: #FFFFF3">
      </form>
      </div>
  </body>
</html>