<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
  <h1>봉사등록</h1><br>
  <form action="#" method="get">
     <table>
        <tr>
        <td>봉사번호 <input type="text" id="vnum"></td>
        </tr>
        <tr>
        <td>봉사날짜 <input type="text" id="vdate"></td>
        </tr>
        <tr>
        <td>봉사기관 <input type="text" id="vorg"></td>
        </tr>
        <tr>
        <td>봉사시간 <input type="text" id="vtime"></td>
        </tr>
        <tr>
        <td>해시값 <input type="text" id="vhash"></td>
        </tr>
        <tr>
        <td><input type="submit" value="등록하기"></td>
     </table>
  </form>
</body>
</html>